//- .slider-wrapper
//-   .slider 
//-     .slide 
//-       img(src="./assets/imgs/plant1.png", alt="")
//-     .slide 
//-       img(src="./assets/imgs/plant2.png", alt="")
//-     .slide 
//-       img(src="./assets/imgs/plant3.png", alt="")
//-     .slide 
//-       img(src="./assets/imgs/plant4.png", alt="")
//-     .slide 
//-       img(src="./assets/imgs/plant5.png", alt="")
//-     .slide 
//-       img(src="./assets/imgs/plant6.png", alt="")
//-     .slide 
//-       img(src="./assets/imgs/plant7.png", alt="")
form.form(action="#")
  select#select-id(name="")
    option(value="1991") 1991 
    option(value="1992") 1992 
    option(value="1993") 1993 
    option(value="1994") 1994 
    option(value="1995") 1995 
    option(value="1996") 1996 
    option(value="1997") 1997 

.swiper
  // Additional required wrapper
  .swiper-wrapper
    // Slides
    .swiper-slide 
      img(src="./assets/imgs/plant1.png", alt="")
    .swiper-slide 
      img(src="./assets/imgs/plant2.png", alt="")
    .swiper-slide 
      img(src="./assets/imgs/plant3.png", alt="")
  // If we need pagination
  .swiper-pagination
  // If we need navigation buttons
  .swiper-button-prev
  .swiper-button-next
  
